.hero-area{
     background-image: url(../img/02Homepage_version_02.png);
     background-color: #1EA7F9;
     padding: 80px;
}

.box-button{
     background-color: #06D6A0;
}
.hero-area {
     background-position: center;
     color: #ffff;
     line-height: 1.8;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .hero-area h1 {
     color: #ffff;
     font-size: 50px;
     margin-top: 200px;
 }

 